/* body {
    text-align: center;
} */

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: no-repeat center/100% -moz-linear-gradient(290deg, #26a 40%, skyblue 100%);
    background: no-repeat center/100% -o-linear-gradient(290deg, #26a 40%, skyblue 100%);
    background: no-repeat center/100% linear-gradient(160deg, #26a 40%, skyblue 100%);
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}


.score-panel {
  width: 500px;
  margin: 20px 0 0 0;
}

.score-panel .score {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .lives {
  display: inline-block;
  margin:  0 50px;
  float: right;
}

/* Modal */

.modal {
    position: absolute;
    z-index: 99;
    width: 360px;
    height: 200px;
    top: 250px;
    -webkit-transition: top 500ms;
    -o-transition: top 500ms;
    -moz-transition: top 500ms;
    transition: top 500ms;
}

.out {
    top: -220px;
    -webkit-transition: top 500ms;
    -o-transition: top 500ms;
    -moz-transition: top 500ms;
    transition: top 500ms;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.667);
    height: 100%;
    text-align: center;
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(34, 102, 170, 0.8);
}

.modal-btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5em;
}

.modal-body {
    color: #d41a1a;
    padding-top: 20px;
}

/*=====  End of Modal  ======*/
